@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .container {
  background-color: black;
  color: white;
}

.dark-mode-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
}

.dark-mode .dark-mode-btn {
  background-color: white;
  color: black;
}

*:focus {
  outline: none;
}

.main h1 {
  text-align: center;
}

.title {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-color: aqua;
  padding-bottom: 2px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  border: 3px solid #a78bfa;
  max-width: 700px;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #f3f4f6;
}

.image {
  display: flex;
  justify-content: center;
  height: 3cm;
  margin-bottom: 1rem;
}

.image img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.heading {
  text-align: center;
  margin: 3rem;
}

.para {
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  border: none;
}

/* .btns button {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: #818cf8;
  color: aliceblue;
} */

.previous-btn {
  margin: 1rem 1rem;
  text-decoration: underline;
  background-color: #818cf8;
  color: aliceblue;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.next-btn {
  margin: 1rem 1rem;
  text-decoration: underline;
  background-color: #818cf8;
  color: aliceblue;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.develop {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
}
